Django==3.0.12
Markdown==2.6.6
Pillow==7.1.2
djangorestframework==3.11.0
django-heroku==0.3.1                                                                                                                                                  
gunicorn==19.9.0 